#header {
    height: 50px;
    background: #10284E;
    color: white;
}

#branding h1 {
    color: white;
}

a:link,
a:visited {
    color: #10284E;
}

div.breadcrumbs {
    background: #10284E;
}

.module h2, .module caption, .inline-group h2 {
    background: #10284E;
} 
